<html>
<head>
<style>
.title{color:#47a4eb;}
</style>
    {% load staticfiles %}
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all" />
<link rel="shortcut icon" type="image/x-icon" href="{% static "css/images/favicon.ico" %}" />
<script src="{% static "js/jquery-1.4.2.js" %}" type="text/javascript"></script>
<script src="{% static "js/js-fnc.js" %}" type="text/javascript"></script>
<link rel="stylesheet" href="font-awesome-4.2.0/css/font-awesome.min.css">
</head>
<body>
<div id="header">
  <div class="shell">
    <div id="logo-holder">
      <h1 id="logo"><a href=".."><big>SynonymsInRows</big></a></h1>
      <p id="logo"><big><font color="white"> Словарь синонимов</font></big></p>
    </div>
    <div id="navigation">
      <ul>
        <li><a href="" class="active" ><span>Главная</span></a></li>
        <li><a href="/howto" ><span>Инструкция</span></a></li>
        <li><a href="/dictionaries"><span>Словари</span></a></li>
        <li><a href="/about"><span>О нас</span></a></li>
      </ul>
    </div>
    <div class="light">
      <form>
        <span><input type="text" class="search"><input type="button" value="Искать"></span>
      </form>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
</div>
Проект <b class="title">SynonymsInRows</b> – это объединенный словарь синонимов, составленный из 5 разных словарей.
<br>
<br>Участники:
<br>Апресян Валентина Юрьевна &ndash; организатор и куратор проекта
<br>Рахилина Екатерина Владимировна &ndash; организатор проекта
<br>Самойленко Игорь Юрьевич &ndash; координация проекта, слияние словарей, автоматическая разметка словаря Александровой, веб-программирование, поддержка сайта
<br>
<br><b>Автоматическая разметка:</b>
<br>Никитина Александра Николаевна &ndash; автоматическая разметка словаря Абрамова
<br>Таратынов Павел Алексеевич &ndash; автоматическая разметка словаря Бабенко
<br>Ларионова Екатерина Игоревна &ndash; редактирование рабочего файла и поиск исключений словаря Александровой
<br>Мальцев Марк Сергеевич &ndash; автоматическая разметка словаря НОСС
<br>Спасибо Евгений Олегович &ndash; автоматическая разметка словаря НОСС
<br>Грачев Даниил Сергеевич &ndash; автоматическая разметка словаря Евгеньевой
<br>Гутова Анастасия Аркадьевна &ndash; ручная обработка исключений рабочих файлов словарей
<br>
<br>НИУ-ВШЭ 2013-2014
</body>
</html>