<html>
<head>
<style>
.title{color:#47a4eb;}
</style>
</head>
<body>
Проект <b class="title">SynonymsInRows</b> – это объединенный словарь синонимов, составленный из 5 разных словарей.
<br>
<br>Участники:
<br>Апресян Валентина Юрьевна &ndash; организатор и куратор проекта
<br>Рахилина Екатерина Владимировна &ndash; организатор проекта
<br>Самойленко Игорь Юрьевич &ndash; координация проекта, слияние словарей, автоматическая разметка словаря Александровой, веб-программирование, поддержка сайта
<br>
<br><b>Автоматическая разметка:</b>
<br>Никитина Александра Николаевна &ndash; автоматическая разметка словаря Абрамова
<br>Таратынов Павел Алексеевич &ndash; автоматическая разметка словаря Бабенко
<br>Ларионова Екатерина Игоревна &ndash; редактирование рабочего файла и поиск исключений словаря Александровой
<br>Мальцев Марк Сергеевич &ndash; автоматическая разметка словаря НОСС
<br>Спасибо Евгений Олегович &ndash; автоматическая разметка словаря НОСС
<br>Грачев Даниил Сергеевич &ndash; автоматическая разметка словаря Евгеньевой
<br>Гутова Анастасия Аркадьевна &ndash; ручная обработка исключений рабочих файлов словарей
<br>
<br>НИУ-ВШЭ 2013-2014
</body>
</html>